:root {
    --sedan: hsl(31, 77%, 52%);
    --suv: hsl(184, 100%, 22%);
    --luxury: hsl(179, 100%, 13%);
    --title-font: "Big Shoulders Display", sans-serif;
    --primary-font: "Lexend Deca", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    padding: 1rem;
    min-height: 100vh;
}

main {
    max-width: 800px;
    font-size: 15px;

    font-family: var(--primary-font);
}

.wrapper {
    max-width: 275px;
}

#sedan {
    background-color: var(--sedan);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#suv {
    background-color: var(--suv);
}

#luxury {
    background-color: var(--luxury);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-family: var(--title-font);
    color: hsl(0, 0%, 95%);
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.5rem;
}

.title {
    text-align: left;
    color: hsl(0, 0%, 95%);
    font-weight: 400;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.button {
    display: block;
    justify-content: center;
    border: none;
    border-radius: 24px;
    height: 40px;
    font-size: 0.8rem;
    width: 125px;
    margin: 2rem;
    margin-bottom: 3rem;
    background-color: hsl(0, 0%, 95%);
    transition: all 150ms linear;
}

.button:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

.sedan-button {
    color: var(--sedan);
}

.suv-button {
    color: var(--suv);
}

.luxury-button {
    color: var(--luxury);
}

svg {
    margin: 2rem;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
    }

    #sedan {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    #luxury {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
